@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    max-height: 100%;
    max-width: 100vw;
}

.gray-cover {
    display: block;
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(255, 255, 255, .95);
}

.faint-text, .clear-text {
    text-align: center;
}

.text--green {
    color: #7ccc14
}

.faint-text, .clear-text-1, .clear-text-2 {
    font-weight: 900;
}

.faint-text--1 {
    margin: 0;
    margin-top: 80px;
    font-size: 250px;
}

.faint-text--2 {
    margin: 0;
    margin-top: -170px;
    font-size: 350px;
}

.clear-text {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin-top: -300px;
    z-index: 1001;
}

.img-1-box {
    margin-top: -100px;
}

.img-1-box img {
    width: 300px;
    height: 300px;
}

.clear-text-1 {
    margin: 0;
    margin-top: -130px;
    margin-right: 300px;
    font-size: 140px;
    font-weight: 800;
}

.clear-text-2 {
    margin: 0;
    margin-top: -100px;
    margin-right: 130px;
    font-size: 200px;
    font-weight: 900;
}

.social-icons {
    margin: 0;
    margin-top: -40px;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
}

.social-icons a {
    color: black;
}

.social-icons [class*="fa fa-"] {
    background-color: #7ccc14;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: auto 3px;
    width: 40px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.social-icons a:nth-child(1) i {
    animation: change 8s normal infinite;
    animation-delay: 1s;
}
.social-icons a:nth-child(2) i {
    animation: change 8s normal infinite;
    animation-delay: 2s;
}
.social-icons a:nth-child(3) i {
    animation: change 8s normal infinite;
    animation-delay: 3s;
}
.social-icons a:nth-child(4) i {
    animation: change 8s normal infinite;
    animation-delay: 4s;
}

@keyframes change {
    
    
    0% {
      color: #ffffff;
      background-color: black;
    }
    
    100% {
      color: #ffffff;
      background-color: #7ccc14;
    }
}
  

.bounce {
    animation: bounce 1s linear infinite;
    animation-direction: alternate;
}

.rotate {
    animation: rotate 4s infinite;
    animation-delay: 2s;
}

.breathe {
    animation: breathe 10s infinite;
}

.social-icons [class*="fa fa-"]:hover { 
    background-color: black; 
}

@keyframes bounce {
    0% {
        transform: translateY(-10px);
    }

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@keyframes breathe {
    0% {
        transform: translate(5px, 5px);
    }

    10% {
        transform: translate(-5px, -5px);
    }
    20% {
        transform: translate(5px, 5px);
    }

    30% {
        transform: translate(-5px, -5px);
    }
    40% {
        transform: translate(5px, 5px);
    }

    50% {
        transform: translate(-5px, -5px);
    }
    60% {
        transform: translate(5px, 5px);
    }

    70% {
        transform: translate(-5px, -5px);
    }
    80% {
        transform: translate(5px, 5px);
    }

    90% {
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(5px, 5px);
    }

}

.social-name {
    margin-left: 20px;
    display: inline-flex;
}

.img-2-box {
    margin: 0;
    position:absolute;
    margin-top: -342px;
    left: 70%;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    z-index: -1000;
    height: 100vh;
}

.img-2-box img {
    height: 735px;
    max-width: 432px;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
    .gray-cover {
        margin: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .faint-text {
        margin-top: 48%
    }

    .faint-text--1 {
        font-size: 180px;
    }
    
    .faint-text--2 {
        margin: 0;
        margin-top: -125px;
        font-size: 250px;
    }

    .clear-text {
        flex-direction: column;
        margin-top: -550px;
    }

    .clear-text-1 {
        margin-top: -20px;
        margin-right: 0px;
        font-size: 135px;
        font-weight: 800;
    }
    
    .clear-text-2 {
        margin-top: -100px;
        margin-right: 0px;
        margin-left: 100px;
        font-size: 190px;
        font-weight: 900;
    }

    .clear-dots {
        font-size: 100px;
    }
    
    .social-icons {
        font-size: 30px;
        font-weight: 600;
        text-align: left;
        margin-left: 40%;
    }

    .img-2-box {
        /* display: none */
        left: -5%;
        top: 40%;
    }

}

@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
    .faint-text{ 
        margin-top: 220px;
    }

    .faint-text--1 {
        font-size: 70px;
    }
    
    .faint-text--2 {
        margin-top: -50px;
        font-size: 110px;
    }

    .img-1-box {
        margin-top: 220px;
    }
    
    .img-1-box img {
        width: 150px;
        height: 150px;
    }

    .clear-text {
        margin-top: -550px;
    }

    .clear-text-1 {
        margin-top: 30px;
        margin-right: 0px;
        font-size: 60px;
        font-weight: 800;
    }
    
    .clear-text-2 {
        margin-top: -42px;
        margin-left: 40px;
        font-size: 85px;
    }

    .clear-dots {
        font-size: 50px;
    }
    
    .social-icons {
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        margin-left: 110px;
    }

    .social-icons [class*="fa fa-"] {
        margin: 60px 2px auto 2px;
        border-radius: 30px;
        height: 35px;
        width: 35px;
        line-height: 35px;
        font-size: 20px;
        text-align: center;
    }

    .img-2-box {
        /* display: none */
        left: 23%;
        top: 58%;
        height: 450px;
        max-width: 300px;
        opacity: 0.2;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .faint-text{ 
        margin-top: 280px;
    }

    .img-2-box {
        /* display: none */
        /* left: 40%; */
        top: 80%;
        /* height: 600px;
        width: 300px; */
    }

    .img-2-box img {
        left: 40%;
        height: 720px;
        max-width: 600px;
    }
}
@media only screen and (max-width: 280px){
    /*Small smartphones [< 320px]*/
    .faint-text{ 
        margin-top: 220px;
    }

    .faint-text--1 {
        font-size: 60px;
    }
    
    .faint-text--2 {
        margin-top: -40px;
        font-size: 80px;
    } 
    .clear-text-1 {
        margin-top: 65px;
        margin-right: 0px;
        font-size: 50px;
        font-weight: 800;
    }
    
    .clear-text-2 {
        margin-top: -35px;
        margin-left: 15px;
        font-size: 70px;
    }

    .clear-dots {
        font-size: 20px;
    }

    .social-icons [class*="fa fa-"] {
        border-radius: 30px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 18px;
    }
}
